
.button-top-right{}
.button-top-left{}
.button-bottom-left{
    background-color: yellow;
    border: rgb(226, 232, 53);
    border-radius: 0 100% 0 0;
    margin: 20px 0 0 0;
}
.button-bottom-right{
    background-color: blue;
    border: thick solid #1b0e64;
    border-radius: 0 0 100% 0;
    margin: 0 35px 30px 0;
}
.button-container {
    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width:100%
}

.Game-Board{
    position: relative;
}